---
layout: layout.njk
title: About this site
permalink: about/index.html
---

<div class="contentbox">
  <div class="about">
    <h2>About this Directory</h2>
    <p>
      <a href="/">Newspapers of New Zealand</a> is a catalogue of all the
      newspapers that have been published in New Zealand since the
      <a href="/newspapers/2069/"
        >New Zealand Gazette and Wellington Spectator</a
      >
      in 1839.
    </p>
  </div>

  <h2>Scope and Terminology</h2>
  <p>
    To build a comprehensive historical directory, we must first define what
    constitutes a newspaper in New Zealand.
  </p>

  <h3>What do the libraries say?</h3>
  <p>
    The
    <a
      href="https://natlib.govt.nz/librarians/collaborative-digitisation/collaborative-newspaper-digitisation-programme"
      >National Library of New Zealand</a
    >
    references the
    <a
      href="https://web.archive.org/web/20121102200238/http://www.loc.gov/acq/conser/pdf/CCM-Module-33.pdf"
      >Library of Congress definition</a
    >:
  </p>
  <blockquote>
    A newspaper is a serial publication, appearing usually at least weekly,
    which serves as a primary source of information on current events of general
    interest. While format can vary widely, newspapers are normally published
    without a cover, but with a masthead or banner, and are normally larger than
    12 by 17 inches.
  </blockquote>
  <p>
    On a practical level, a publication is considered a newspaper if it meets at
    least six of the following seven criteria:
  </p>
  <blockquote>
    <ul>
      <li>
        it is a source of information on current events of general interest
      </li>
      <li>it is printed at least weekly</li>
      <li>it was originally printed on newsprint</li>
      <li>it does not have a cover</li>
      <li>it does have a masthead</li>
      <li>it is A3 or greater in size, and</li>
      <li>it has four or more columns on a typical page.</li>
    </ul>
  </blockquote>
  <p>This generally describes the newspapers on this website.</p>

  <h3>Scope of the Website</h3>
  <p>This website attempts to list serial publications that:</p>
  <ul>
    <li>are published for a New Zealand audience</li>
    <li>serve a recognisable community</li>
    <li>
      provide a source of information on current events of general interest
    </li>
    <li>are printed at least <em>fortnightly</em></li>
    <li>are printed on newsprint</li>
    <li>do not have a cover</li>
    <li>have a masthead</li>
    <li>have text arranged in columns</li>
  </ul>

  <h3>Newspapers, Mastheads, and Editions</h3>
  <p>
    Most entries listed in this directory represent full
    <strong>Newspapers</strong>. Related publication variants are handled as
    follows:
  </p>
  <ul>
    <li>
      <strong>Editions &amp; Special Issues</strong>: Variant forms published at
      regular intervals (such as weekend, weekly, or overseas editions). These
      are displayed on the primary newspaper page under
      <em>Mastheads &amp; Alternate Editions</em>.
    </li>
    <li>
      <strong>Mastheads</strong>: Subordinate titles or name shifts used during
      a long-running publication's history. Rather than separate pages, these
      are listed as historical masthead entries on the main newspaper page.
    </li>
  </ul>

  <h3>Continuations</h3>
  <p>
    Some Newspapers on this site are described as Continuing or Continued by
    another newspaper. Generally, this means the newspaper has changed its name.
    For example, the <em>Bush Advocate</em> is Continued By the
    <em>Dannevirke Advocate</em>.
  </p>
  <p>
    In many cases it is difficult to say whether one newspaper has ceased and
    been continued by another newspaper, or whether there is only one newspaper
    that has adopted a new masthead. When making this call, we consider several
    factors including:
  </p>
  <ul>
    <li>the similarity of the titles,</li>
    <li>the overall frequency of changes in title, and</li>
    <li>whether the owner, publisher, or target audience has changed.</li>
  </ul>

  <h3>Newspaper titles</h3>
  <p>
    When a newspaper has used several different mastheads over a period of time,
    it raises the issue of what that newspaper should be called. For example,
    why do we call Gisborne's first newspaper the
    <em>Poverty Bay Standard</em> and not <em>Standard</em>?
  </p>
  <p>
    Generally, this is a judgement call, but when there is more than one
    possible title we prefer titles that:
  </p>
  <ul>
    <li>are still in use,</li>
    <li>were used for a long time,</li>
    <li>were the preferred usage at the time, and</li>
    <li>include placenames.</li>
  </ul>
  <p>
    Where two newspapers (or Editions, or Mastheads) have the same title, we'll
    sometimes add a qualifier in square brackets after the title, such as
    <em>Evening Star [Dunedin]</em>.
  </p>

  <h2>Data and Sources</h2>
  <p>
    The data in this website is based on a subset of the New Zealand National
    Bibliography. It was tidied up and annotated with references to online
    sources when possible (both manually and automatically) and published as the
    original
    <a
      href="https://web.archive.org/web/20200510114635/http://nznewspapers.appspot.com/about"
      >Newspapers of New Zealand website</a
    >
    until it was taken down after Google retired some programs in 2020.
  </p>
  <p>
    The base data was from the Publications New Zealand Metadata Dataset created
    by the
    <a href="http://www.natlib.govt.nz">National Library of New Zealand</a>
    and licensed under the
    <a href="http://creativecommons.org/licenses/by/3.0/nz/"
      >Creative Commons Attribution 3.0 licence</a
    >.
  </p>
  <p>
    While the PublicationsNZ data is quite comprehensive, there are some
    omissions, inconsistencies, and mistakes. These are tidied up as they are
    discovered. Generally, the data for older records (pre-1950) is very good,
    but some more recent records (particularly for free community newspapers)
    can be patchy.
  </p>

  <h2>How to Contribute</h2>
  <p>We welcome contributions from researchers, archivists, and librarians!</p>

  <h3>Reporting Data Errors &amp; Corrections</h3>
  <p>
    If you notice a missing newspaper, an incorrect date, or a broken link, you
    can report it on our
    <a href="https://github.com/nznewspapers/nznewspapers/issues"
      >GitHub Issue Tracker</a
    >.
  </p>

  <h3>Contributing to the Website</h3>
  <p>
    To contribute to building the website or directly edit data, visit our
    <a href="https://github.com/nznewspapers/nznewspapers">GitHub repository</a
    >.
  </p>
</div>
