---
layout: layout.njk
title: About this site
permalink: about/index.html
---

<div class="multicolumnbox">
    <div class="columnheading">About this title</div>
    <div class="columnitem">
        <p>
          <a href="/">Newspapers of New Zealand</a> is a catalogue of all the
          newspapers that have been published in New Zealand since the
          <a href="/newspapers/2069/"
            >New Zealand Gazette and Wellington Spectator</a
          >
          in 1839.
        </p>
    </div>

    <div class="columnheading">Scope</div>
    <div class="columnitem">
        <p>
          Our definition of newspapers includes serial publications that are
          published in New Zealand for a general audience, and takes into
          account their frequency, appearance, and content. The
          <a href="/scope/">Scope and Terminology</a> page has more details.
        </p>
    </div>

    <div class="columnheading">Sources</div>
    <div class="columnitem">
        <p>
          The data in this website is based on a subset of the New Zealand
          National Bibliography. It was tidied up and annotated with references
          to online sources when possible (both manually and automatically) and
          published as the original
          <a
            href="https://web.archive.org/web/20200510114635/http://nznewspapers.appspot.com/about"
            >Newspapers of New Zealand website</a
          >
          until it was taken down after Google retired some programs in 2020.
        </p>
        <p>
          The base data was from the Publications New Zealand Metadata Dataset
          created by the
          <a href="http://www.natlib.govt.nz"
            >National Library of New Zealand</a
          >
          and licensed under the
          <a href="http://creativecommons.org/licenses/by/3.0/nz/"
            >Creative Commons Attribution 3.0 licence</a
          >.
        </p>
    </div>
</div>
