---
layout: layout.njk
permalink: /places/digitised/
eleventyComputed:
  title: "{{ stats.digitisedCount }} digitised Newspapers"
---

{% from "macros.njk" import newspaperLine %}

<div class="multicolumnbox">
    <div class="columnheading">Digitised Newspapers</div>
    <div class="columnitem">
        <p>Newspapers that are available online.</p>
    </div>

    {% for regionObj in places.digitised %}
        <div class="columnheading">{{ regionObj.name }}</div>
        
        {% for districtObj in regionObj.districts %}
             <div class="columnsubheading">{{ districtObj.name }}</div>
             {% for paper in districtObj.papers %}
                {{ newspaperLine(paper) }}
             {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
