---
layout: layout.njk
permalink: /places/current/
eleventyComputed:
  title: "{{ stats.currentCount }} current Newspapers"
---

{% from "macros.njk" import newspaperLine %}

<div class="multicolumnbox">
    <div class="columnheading">Current Newspapers</div>
    <div class="columnitem">
        <p>Newspapers that are still publishing today.</p>
    </div>

    {% for regionObj in places.current %}
        <div class="columnheading">{{ regionObj.name }}</div>
        
        {% for districtObj in regionObj.districts %}
             <div class="columnsubheading">{{ districtObj.name }}</div>
             {% for paper in districtObj.papers %}
                {{ newspaperLine(paper) }}
             {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
