---
layout: layout.njk
title: Scope and Terminology
permalink: scope/index.html
---

<div class="contentbox">
  <script>
    window.location.replace("/about/");
  </script>
  <p>
    The Scope and Terminology content has been moved to the
    <a href="/about/">About page</a>. Redirecting...
  </p>
</div>
