---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
  <url>
    <loc>https://www.nznewspapers.org{{ page.url | url }}</loc>
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
  </url>
{% endfor %}
{% for paper in papers %}
  <url>
    <loc>https://www.nznewspapers.org/papers/{{ paper.id }}/</loc>
  </url>
{% endfor %}
</urlset>