---
layout: layout.njk
title: Newspapers by Title
permalink: titles.html
---

<div class="multicolumnbox">
    {% for letter, list in titles %}
        <div class="columnheading" id="{{ letter }}">{{ letter }}</div>
        {% for paper in list %}
            <div class="columnitem">
                <a href="{{ paper.url }}">{{ paper.title }}</a>
                <br>
                <span class="paper-meta">
                    {{ paper.placename }} ({{ paper.firstYear }}-{{ paper.finalYear }})
                </span>
            </div>
        {% endfor %}
    {% endfor %}
</div>
